<div class="filters">
    <a href="/listings/filter?f=Trending" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-fire"></i>
        </div>
        <p>Trending</p>
    </div>
</a>
 
<a href="/listings/filter?f=Farms" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-tractor"></i>
        </div>
        <p>Farms</p>
    </div>
</a>
<a href="/listings/filter?f=Beaches" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-umbrella-beach"></i>
        </div>
        <p>Beaches</p>
    </div>
</a>
<a href="/listings/filter?f=Tiny+Homes" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-house-fire"></i>
        </div>
        <p>Tiny Homes</p>
    </div>
</a>
<a href="/listings/filter?f=Amazing+Pools" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-water-ladder"></i>
        </div>
        <p>Amazing Pools</p>
    </div>
</a>
<a href="/listings/filter?f=Camping" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-tents"></i>
        </div>
        <p>Camping</p>
    </div>
</a>
<a href="/listings/filter?f=Mountains" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-mountain"></i>
        </div>
        <p>Mountains</p>
    </div>
</a>
<a href="/listings/filter?f=Castles" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-chess-rook"></i>
        </div>
        <p>Castles</p>
    </div>
</a>
<a href="/listings/filter?f=Iconic+Cities" class="a-filter">
    <div class="filter">
        <div>
            <i class="fa-solid fa-tree-city"></i>
        </div>
        <p>Iconic Cities</p>
    </div>
</a>

<div class="tax-switch">
    <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show Included Taxes</label>
    </div>
</div>
      
</div>