<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="mb-3">Login</h1>
            <form action="/login" method="post" class="needs-validation" novalidate>
                <label for="username" class="form-label mt-3">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">Username is required</div>
                <label for="password" class="form-label mt-3">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">Password is required</div>
                <button class="btn btn-success mt-3">Login</button>
            </form>
        </div>
    </div>
</body>